// Bebas
@font-face {
  font-family: 'bebas';
  src: url('/fonts/bebasneue-regular-webfont.woff2') format('woff2'),
    url('/fonts/bebasneue-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// // Orkney
// @font-face {
//   font-family: 'orkney';
//   src: url('/fonts/orkney-regular-webfont.woff2') format('woff2'),
//     url('/fonts/orkney-regular-webfont.woff') format('woff');
//   font-weight: 400;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'orkney';
//   src: url('/fonts/orkney-light-webfont.woff2') format('woff2'),
//     url('/fonts/orkney-light-webfont.woff') format('woff');
//   font-weight: 300;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'orkney';
//   src: url('/fonts/orkney-medium-webfont.woff2') format('woff2'),
//     url('/fonts/orkney-medium-webfont.woff') format('woff');
//   font-weight: 500;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'orkney';
//   src: url('/fonts/orkney-bold-webfont.woff2') format('woff2'),
//     url('/fonts/orkney-bold-webfont.woff') format('woff');
//   font-weight: 700;
//   font-style: normal;
// }

// // Koliko
// @font-face {
//   font-family: 'koliko';
//   src: url('/fonts/koliko-regular-webfont.woff2') format('woff2'),
//     url('/fonts/koliko-regular-webfont.woff') format('woff');
//   font-weight: 400;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'koliko';
//   src: url('/fonts/koliko-light-webfont.woff2') format('woff2'),
//     url('/fonts/koliko-light-webfont.woff') format('woff');
//   font-weight: 300;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'koliko';
//   src: url('/fonts/koliko-bold-webfont.woff2') format('woff2'),
//     url('/fonts/koliko-bold-webfont.woff') format('woff');
//   font-weight: 700;
//   font-style: normal;
// }

// // Coves
// @font-face {
//   font-family: 'coves';
//   src: url('/fonts/coves_light-webfont.woff2') format('woff2'),
//     url('/fonts/coves_light-webfont.woff') format('woff');
//   font-weight: 300;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'coves';
//   src: url('/fonts/coves_bold-webfont.woff2') format('woff2'),
//     url('/fonts/coves_bold-webfont.woff') format('woff');
//   font-weight: 700;
//   font-style: normal;
// }
