// Units
$unit: 1rem;

// Gutters
$gutter: .5*$unit;

// Fonts
$mono-font: monospace;

// Colors
$black: #333;
$white: #fff;
$blue: #2196F3;
$gray: #c1c1c1;
$red: red;
$green: green;

// Color modifiers
$light-gray: #faf6f7;

// Easings
$ease-in-out-quart: cubic-bezier(0.76, 0, 0.24, 1);